*{
    box-sizing: border-box;
    margin: 0;
}

.head{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.head h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: bolder; */
    color: rebeccapurple;
    font-size: 50px;
}


.input_container input{
    margin-left: 29px;
    height: 45px;
    border-radius: 22px;
    width: 55%;
    border: 2px solid rebeccapurple;
    outline: none;
}

.input_text{
    color: rebeccapurple;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    padding-left: 2px;
}
.input_text::placeholder{
    padding-left: 11px;;
    font-size: larger;
    color: rgba(102, 51, 153, 0.678);
    font-weight: bold;
}

.input_container button{
    height: 45px;
    width: 90px;
    border-radius: 19px;
    font-size: larger;
    background-color: rgba(0, 255, 55, 0.664);
    border: none;
    color: white;
    font-weight: bolder;
}

.container hr{
    margin-top: 40px;
    margin-bottom: 20px;
    height: 2px;
    border: 2px solid rebeccapurple;
}

#list{
    color: rebeccapurple;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    padding-left: 18px;
    outline: none;
    border-radius: 20px;
    height: 45px;
    width: 50%;
    margin-top: 40px;
    
}
#list_btn{
    height: 45px;
    margin-top: 40px;
    margin-left: 15px;
    border-radius: 15px;
    font-size: 19px;
    width: 85px;
    border: none;
    background-color: rgba(209, 13, 13, 0.788);
    color: white;
}

#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}